[project]
	description = Test Repo for stuff
[access]
[access "refs/*"]
	owner = group user/Dan Chow (Icarium15)
[access "refs/for/refs/*"]
	read = group TestRepo
	read = group user/Dan Chow (Icarium15)
	push = group TestRepo
	push = group user/Dan Chow (Icarium15)
	label-Code-Review = -2..+2 group TestRepo
	label-Code-Review = -2..+2 group user/Dan Chow (Icarium15)
	label-Verified = -1..+1 group TestRepo
	label-Verified = -1..+1 group user/Dan Chow (Icarium15)
	rebase = group user/Dan Chow (Icarium15)
	removeReviewer = group TestRepo
	removeReviewer = group user/Dan Chow (Icarium15)
	submit = group TestRepo
	submit = group user/Dan Chow (Icarium15)
[access "refs/heads/*"]
	read = group user/Dan Chow (Icarium15)
	create = group user/Dan Chow (Icarium15)
	push = +force group user/Dan Chow (Icarium15)
	pushMerge = group user/Dan Chow (Icarium15)
[access "refs/tags/*"]
	push = +force group user/Dan Chow (Icarium15)
	pushTag = group user/Dan Chow (Icarium15)
	pushSignedTag = group user/Dan Chow (Icarium15)
